{{#> layouts/main }}
  <h2>Reset Your Password</h2>
  <p>Hello {{name}},</p>
  <p>We received a request to reset your password for your {{appName}} account. Click the button below to set a new password:</p>
  
  <p style="text-align: center;">
    <a href="{{resetUrl}}" class="button">Reset Password</a>
  </p>
  
  <p>If you didn't request a password reset, you can safely ignore this email. This link will expire in {{expiresIn}}.</p>
  
  <p>If the button doesn't work, you can copy and paste this link into your browser:</p>
  <p><a href="{{resetUrl}}" style="word-break: break-all;">{{resetUrl}}</a></p>
  
  <p>For security reasons, this link will expire in {{expiresIn}}. If you need to request another reset, you can do so on the login page.</p>
  
  <p>Best regards,<br>The {{appName}} Team</p>
{{/layouts/main}}
